.flexbox{
    display: flex;
}

.lang{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.navbar-brand{
    display: flex;
    width: 130px;
    height: 200px;
    /* height: 210px !important; */
}

.caret{
    border: 0px !important;
}

/* ////////////////////////////////// */
/* Bar chart */





.grid-container {
    display: grid;
    /* height: 400px; */
    align-content: center;
    align-items: center;

    grid-template-columns:  auto auto;
    gap: 20px;
    margin: 50px 0px;
}

.canvas-item{
    width: 100%;
    min-width: 600px;
}


#padding_up{
    margin-left: 15px !important;
}

.header  #sign_color {
    background-color: #1956c7 !important;
    color: white;
}

.header  #sign_color:hover{
    background-color:white !important;
    color:  #24126a ;
}