
{% extends 'base.html' %}
{% block content %}  
    <section class="hero-area">
      <!-- <img
        class="hero-shape"
        src="items/kratos/assets/images/hero/hero-shape.svg"
        alt="#"
      /> -->
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5 col-md-12 col-12">
            <div class="hero-content">
              <!-- <h4 class="wow fadeInUp" data-wow-delay=".2s">
                Start Envesting & Earn Money
              </h4> -->
              <h1 class="wow fadeInUp" data-wow-delay=".4s">
                The Easy Way <br />To Invest in
                <span>
                  <img
                    class="text-shape"
                    src="items/kratos/assets/images/hero/text-shape.svg"
                    alt="#"
                  />
                  Blockchain.
                </span>
              </h1>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                Our platform allows you to take a <br />
                measured approach to crypto investing.
              </p>
              <div class="button wow fadeInUp" data-wow-delay=".8s">
                <a href="" class="btn"
                  >Start</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2 class="wow fadeInUp" data-wow-delay=".4s">Statistics</h2>
            </div>
            <div class="grid-container">
              <div class="grid-item">
                <canvas id="chart2019" class="canvas-item"></canvas>
              </div>
              <div class="grid-item">
                <canvas id="chart2020" class="canvas-item"></canvas>
              </div>
              <div class="grid-item">
                <canvas id="chart2021" class="canvas-item""></canvas>
              </div>
              <div class="grid-item">
                <canvas id="chart2022" class="canvas-item"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="intro-video-area section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="inner-content-head">
              <div class="inner-content">
                <img
                  class="shape1"
                  src="items/kratos/assets/images/video/shape1.svg"
                  alt="#"
                />
                <img
                  class="shape2"
                  src="items/kratos/assets/images/video/shape2.svg"
                  alt="#"
                />
                <div class="section-title">
                  <!-- <span class="wow zoomIn" data-wow-delay=".2s"
                    >Create your own experience</span
                  > -->
                  <h2 class="wow fadeInUp" data-wow-delay=".4s">
                    Watch Our intro video
                  </h2>
                  <p class="wow fadeInUp" data-wow-delay=".6s">
                    There are many variations of passages of Lorem Ipsum
                    available, but the majority have suffered alteration in some
                    form.
                  </p>
                </div>
                <div class="intro-video-play">
                  <div class="play-thumb wow zoomIn" data-wow-delay=".2s">
                    <a
                      href="https://www.youtube.com/watch?v=r44RKWyfcFw"
                      class="glightbox video"
                      ><i class="lni lni-play"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="start-process section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h3 class="wow zoomIn" data-wow-delay=".2s">
                Ready to get started?
              </h3>
              <h2 class="wow fadeInUp" data-wow-delay=".4s">
                3 Steps To Start
              </h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div class="single-process">
              <span class="serial">01</span>
              <h3>Create Your Wallet</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
                consectetur tidio.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="single-process">
              <span class="serial">02</span>
              <h3>Make Payment</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
                consectetur tidio.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <div class="single-process">
              <span class="serial">03</span>
              <h3>Buy & Sell Coins</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
                consectetur tidio.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="feature section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h3 class="wow zoomIn" data-wow-delay=".2s">Why choose us</h3>
              <h2 class="wow fadeInUp" data-wow-delay=".4s">Passive crypto income on example.com</h2>
              <!-- <p class="wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form.
              </p> -->
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-4 col-md-6 col-12 wow fadeInUp"
            data-wow-delay=".2s"
          >
            <div class="feature-box">
              <div class="tumb">
                <img
                  src="items/kratos/assets/images/features/feature-icon-1.png"
                  alt=""
                />
              </div>
              <h4 class="text-title">10,000+ clients</h4>
              <p>
                Operating since 2019

              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-12 wow fadeInUp"
            data-wow-delay=".4s"
          >
            <div class="feature-box">
              <div class="tumb">
                <img
                  src="items/kratos/assets/images/features/feature-icon-2.png"
                  alt=""
                />
              </div>
              <h4 class="text-title">Safe & Secure</h4>
              <p>
                Over $250,000,000 in profits
              </p>
            </div>
          </div>
          <div
            class="col-lg-4 col-md-6 col-12 wow fadeInUp"
            data-wow-delay=".6s"
          >
            <div class="feature-box">
              <div class="tumb">
                <img
                  src="items/kratos/assets/images/features/feature-icon-3.png"
                  alt=""
                />
              </div>
              <h4 class="text-title">High APY</h4>
              <p>
                60% Average APY in all our projects
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <section class="team section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h3 class="wow zoomIn" data-wow-delay=".2s">Expert Team</h3>
              <h2 class="wow fadeInUp" data-wow-delay=".4s">Meet Our Team</h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-3 col-md-6 col-12 wow fadeInUp"
            data-wow-delay=".3s"
          >
            <div class="single-team">
              <div class="team-image">
                <img
                  src="items/kratos/assets/images/team/Alexander Briceno.jpg"
                  alt="#"
                />
              </div>
              <div class="content">
                <h4>
                  Alexander Briceno
                  <span>Founder</span>
                </h4>
                <ul class="social">
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-facebook-filled"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-twitter-original"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-linkedin-original"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-12 wow fadeInUp" data-wow-delay=".5s"
          >
            <div class="single-team">
              <div class="team-image">
                <img
                  src="items/kratos/assets/images/team/Kevin Garey.jpg"
                  alt="#"
                />
              </div>
              <div class="content">
                <h4>
                  Kevin Garey
                  <span>Co-Founder</span>
                </h4>
                <ul class="social">
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-facebook-filled"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-twitter-original"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-linkedin-original"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div
            class="col-lg-3 col-md-6 col-12 wow fadeInUp"
            data-wow-delay=".5s"
          >
            <div class="single-team">
              <div class="team-image">
                <img
                  src="items/kratos/assets/images/team/Benjamin Johnson.jpg"
                  alt="#"
                />
              </div>
              <div class="content">
                <h4>
                  Benjamin Johnson
                  <span>Developer</span>
                </h4>
                <ul class="social">
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-facebook-filled"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-twitter-original"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-linkedin-original"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div
            class="col-lg-3 col-md-6 col-12 wow fadeInUp"
            data-wow-delay=".7s"
          >
            <div class="single-team">
              <div class="team-image">
                <img
                  src="items/kratos/assets/images/team/Gary Flores.jpg"
                  alt="#"
                />
              </div>
              <div class="content">
                <h4>
                  Gary Flores
                  <span>Designer</span>
                </h4>
                <ul class="social">
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-facebook-filled"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-twitter-original"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-linkedin-original"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- <div
            class="col-lg-3 col-md-6 col-12 wow fadeInUp"
            data-wow-delay=".9s"
          >
            <div class="single-team">
              <div class="team-image">
                <img
                  src="items/kratos/assets/images/team/James Howard.jpg"
                  alt="#"
                />
              </div>
              <div class="content">
                <h4>
                  James Howard
                  <span>Co-Founder</span>
                </h4>
                <ul class="social">
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-facebook-filled"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-instagram"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-twitter-original"></i
                    ></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"
                      ><i class="lni lni-linkedin-original"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            
          </div> -->
        </div>
      </div>
    </section>
    <section class="promotion">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2 class="wow fadeInUp" data-wow-delay=".4s">Promotion</h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                Promotions refer to the entire set of activities, which communicate the product, brand or service to the user.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div id="customers-testimonials" class="owl-carousel">

              <!--TESTIMONIAL 1 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-size" src="./items/kratos/assets/images/promo/promo-1.jpg" alt="">
                </div>
              </div>
              <!--END OF TESTIMONIAL 1 -->
              <!--TESTIMONIAL 2 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="./items/kratos/assets/images/promo/promo-2.jpg" alt="">
                </div>
                <!-- <div class="testimonial-name">ANNA ITURBE</div> -->
              </div>
              <!--END OF TESTIMONIAL 2 -->
              <!--TESTIMONIAL 3 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="./items/kratos/assets/images/promo/promo-3.jpg" alt="">
                </div>
              </div>
               <!--TESTIMONIAL 1 -->
               <div class="item">
                <div class="shadow-effect">
                  <img class="img-size" src="./items/kratos/assets/images/promo/promo-1.jpg" alt="">
                </div>
              </div>
              <!--END OF TESTIMONIAL 1 -->
              <!--TESTIMONIAL 2 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="./items/kratos/assets/images/promo/promo-2.jpg" alt="">
                </div>
                <!-- <div class="testimonial-name">ANNA ITURBE</div> -->
              </div>
              <!--END OF TESTIMONIAL 2 -->
              <!--TESTIMONIAL 3 -->
              <div class="item">
                <div class="shadow-effect">
                  <img class="img-circle" src="./items/kratos/assets/images/promo/promo-3.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="road-map section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h2 class="wow fadeInUp" data-wow-delay=".4s">Road Map</h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form.
              </p>
            </div>
          </div>
        </div>
        <div class="top-row">
          <div class="">
            <div class="row road-map-slider">
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map down">
                  <span class="arrow"></span>
                  <h3>
                    Apr 10,2018
                    <span>Development Started</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map">
                  <span class="arrow"></span>
                  <h3>
                    May 15,2018
                    <span>Exchange Bitcontent to Bitcoin</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map down">
                  <span class="arrow"></span>
                  <h3>
                    Jan 05,2018
                    <span>BTCC mode of payment</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map">
                  <span class="arrow"></span>
                  <h3>
                    Mar 210,2019
                    <span>Send-Receive coin Bitconcent & mobile</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map down">
                  <span class="arrow"></span>
                  <h3>
                    Feb 25,2020
                    <span>Coin Marketcap, World Coin Index</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map">
                  <span class="arrow"></span>
                  <h3>
                    Dec 22,2020
                    <span>BTCC mode of payment in Bitcoin</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map down">
                  <span class="arrow"></span>
                  <h3>
                    Feb 25,2020
                    <span>Coin Marketcap, World Coin Index</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map">
                  <span class="arrow"></span>
                  <h3>
                    Jan 05,2018
                    <span>BTCC mode of payment</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map down">
                  <span class="arrow"></span>
                  <h3>
                    May 15,2018
                    <span>Exchange Bitcontent to Bitcoin</span>
                  </h3>
                </div>
              </div>
              <div class="col-lg-2 col-md-3 col-12 p-0">
                <div class="single-map">
                  <span class="arrow"></span>
                  <h3>
                    Dec 22,2020
                    <span>BTCC mode of payment in Bitcoin</span>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="testimonials style2 section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h3 class="wow zoomIn" data-wow-delay=".2s">Customer Reviews</h3>
              <h2 class="wow fadeInUp" data-wow-delay=".4s">
                Our Testimonials
              </h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form.
              </p>
            </div>
          </div>
        </div>
        <div class="row testimonial-slider">
          <div class="col-lg-6 col-12">
            <div class="single-testimonial">
              <div class="inner-content">
                <div class="quote-icon">
                  <i class="lni lni-quotation"></i>
                </div>
                <div class="text">
                  <p>
                    “A vast number of clients decide to create dedicated
                    software is the online store. It is nothing but a website
                    with a catalog of products and the possibility.”
                  </p>
                </div>
                <div class="author">
                  <img
                    src="items/kratos/assets/images/testimonial/testi-1.png"
                    alt="#"
                  />
                  <h4 class="name">
                    Somalia D Silva
                    <span class="deg">Business Manager</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="single-testimonial">
              <div class="inner-content">
                <div class="quote-icon">
                  <i class="lni lni-quotation"></i>
                </div>
                <div class="text">
                  <p>
                    “A vast number of clients decide to create dedicated
                    software is the online store. It is nothing but a website
                    with a catalog of products and the possibility.”
                  </p>
                </div>
                <div class="author">
                  <img
                    src="items/kratos/assets/images/testimonial/testi-2.png"
                    alt="#"
                  />
                  <h4 class="name">
                    David Warner
                    <span class="deg">Blockchain Developer</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="single-testimonial">
              <div class="inner-content">
                <div class="quote-icon">
                  <i class="lni lni-quotation"></i>
                </div>
                <div class="text">
                  <p>
                    “A vast number of clients decide to create dedicated
                    software is the online store. It is nothing but a website
                    with a catalog of products and the possibility.”
                  </p>
                </div>
                <div class="author">
                  <img
                    src="items/kratos/assets/images/testimonial/testi-3.png"
                    alt="#"
                  />
                  <h4 class="name">
                    Jems Gilario
                    <span class="deg">Graphics Designer</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="single-testimonial">
              <div class="inner-content">
                <div class="quote-icon">
                  <i class="lni lni-quotation"></i>
                </div>
                <div class="text">
                  <p>
                    “A vast number of clients decide to create dedicated
                    software is the online store. It is nothing but a website
                    with a catalog of products and the possibility.”
                  </p>
                </div>
                <div class="author">
                  <img
                    src="items/kratos/assets/images/testimonial/testi-2.png"
                    alt="#"
                  />
                  <h4 class="name">
                    David Warner
                    <span class="deg">Web Developer</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="single-testimonial">
              <div class="inner-content">
                <div class="quote-icon">
                  <i class="lni lni-quotation"></i>
                </div>
                <div class="text">
                  <p>
                    “A vast number of clients decide to create dedicated
                    software is the online store. It is nothing but a website
                    with a catalog of products and the possibility.”
                  </p>
                </div>
                <div class="author">
                  <img
                    src="items/kratos/assets/images/testimonial/testi-3.png"
                    alt="#"
                  />
                  <h4 class="name">
                    Jems Gilario
                    <span class="deg">Graphics Designer</span>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="faq section">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h3 class="wow zoomIn" data-wow-delay=".2s">Faq</h3>
              <h2 class="wow fadeInUp" data-wow-delay=".4s">
                frequently asked questions
              </h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-12 col-12">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading1">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse1"
                    aria-expanded="false"
                    aria-controls="collapse1"
                  >
                    <span class="title"
                      >What cryptocurrencies can I use to purchase?</span
                    ><i class="lni lni-plus"></i>
                  </button>
                </h2>
                <div
                  id="collapse1"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading1"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Aliquam consectetur sit amet ante nec vulputate. Nulla
                      aliquam, justo auctor consequat tincidunt, arcu erat
                      mattis lorem.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Aliquam consectetur sit amet ante nec vulputate.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading2">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse2"
                    aria-expanded="false"
                    aria-controls="collapse2"
                  >
                    <span class="title"
                      >What cryptocurrencies can I use to purchase?</span
                    ><i class="lni lni-plus"></i>
                  </button>
                </h2>
                <div
                  id="collapse2"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading2"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life
                      accusamus terry richardson ad squid. 3 wolf moon officia
                      aute. non cupidatat skateboard dolor brunch. Foosd truck
                      quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt alqua put a bird on it squid single-origin
                      coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh
                      helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading3">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse3"
                    aria-expanded="false"
                    aria-controls="collapse3"
                  >
                    <span class="title"
                      >What cryptocurrencies can I use to purchase?</span
                    ><i class="lni lni-plus"></i>
                  </button>
                </h2>
                <div
                  id="collapse3"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading3"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Voluptas expedita, repellendus est nemo cum quibusdam
                      optio, voluptate hic a tempora facere, nihil non itaque
                      alias similique quas quam odit consequatur.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-12 xs-margin">
            <div class="accordion" id="accordionExample2">
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading11">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse11"
                    aria-expanded="false"
                    aria-controls="collapse11"
                  >
                    <span class="title">How can i purchase bitcoin?</span
                    ><i class="lni lni-plus"></i>
                  </button>
                </h2>
                <div
                  id="collapse11"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading11"
                  data-bs-parent="#accordionExample2"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Aliquam consectetur sit amet ante nec vulputate. Nulla
                      aliquam, justo auctor consequat tincidunt, arcu erat
                      mattis lorem.
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Aliquam consectetur sit amet ante nec vulputate.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading22">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse22"
                    aria-expanded="false"
                    aria-controls="collapse22"
                  >
                    <span class="title">How can i purchase bitcoin?</span
                    ><i class="lni lni-plus"></i>
                  </button>
                </h2>
                <div
                  id="collapse22"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading22"
                  data-bs-parent="#accordionExample2"
                >
                  <div class="accordion-body">
                    <p>
                      Anim pariatur cliche reprehenderit, enim eiusmod high life
                      accusamus terry richardson ad squid. 3 wolf moon officia
                      aute. non cupidatat skateboard dolor brunch. Foosd truck
                      quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                      tempor, sunt alqua put a bird on it squid single-origin
                      coffee nulla assumenda shoreditch et. Nihil anim ke ffiyeh
                      helvetica, craft beer labore wes anderson cred nesciunt
                      sapiente ea proident.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading33">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse33"
                    aria-expanded="false"
                    aria-controls="collapse33"
                  >
                    <span class="title">How can i purchase bitcoin?</span
                    ><i class="lni lni-plus"></i>
                  </button>
                </h2>
                <div
                  id="collapse33"
                  class="accordion-collapse collapse"
                  aria-labelledby="heading33"
                  data-bs-parent="#accordionExample2"
                >
                  <div class="accordion-body">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      Voluptas expedita, repellendus est nemo cum quibusdam
                      optio, voluptate hic a tempora facere, nihil non itaque
                      alias similique quas quam odit consequatur.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer section">
      <div class="footer-top">
        <div class="container">
          <div class="inner-content">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                <div class="single-footer f-about">
                  <div class="logo">
                    <a href="index.html">
                      <img src="items/kratos/assets/images/svg/2.svg" alt="#" />
                    </a>
                  </div>
                  <p>
                    Making the world a better place through constructing elegant
                    hierarchies.
                  </p>
                  <h4 class="social-title">Follow Us On:</h4>
                  <ul class="social">
                    <li>
                      <a href="javascript:void(0)"
                        ><i class="lni lni-facebook-filled"></i
                      ></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"
                        ><i class="lni lni-instagram"></i
                      ></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"
                        ><i class="lni lni-twitter-original"></i
                      ></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"
                        ><i class="lni lni-linkedin-original"></i
                      ></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"
                        ><i class="lni lni-pinterest"></i
                      ></a>
                    </li>
                    <li>
                      <a href="javascript:void(0)"
                        ><i class="lni lni-youtube"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-12">
                <div class="single-footer f-link">
                  <h3>Solutions</h3>
                  <ul>
                    <li><a href="javascript:void(0)">Marketing</a></li>
                    <li><a href="javascript:void(0)">Analytics</a></li>
                    <li><a href="javascript:void(0)">Risk</a></li>
                    <li><a href="javascript:void(0)">Profit</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-2 col-md-6 col-12">
                <div class="single-footer f-link">
                  <h3>Support</h3>
                  <ul>
                    <li><a href="javascript:void(0)">Terms and Privacy</a></li>
                    <li><a href="javascript:void(0)">Help</a></li>
                    <li><a href="javascript:void(0)">Guides</a></li>
                    <li><a href="javascript:void(0)">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                <div class="single-footer newsletter">
                  <h3>Crypto Live Price</h3>
                  <ul>
                    <li><p>BTC-USDT - <b>20,238.90</b></p></li>
                    <li><p>ETH-USDT - <b>1,573.16</b></p></li>
                    <li><p>SOL-USDT - <b>32.16</b></p></li>
                    <li><p>BNB-USDT - <b>282.42</b></p></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-area">
        <div class="container">
          <div class="inner-content">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12">
                <p class="copyright-text">
                  © 2023 Kratos - All Rights Reserved
                </p>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <p class="copyright-owner">
                  Designed and Developed by Chaos Team</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

    <a href="#" class="scroll-top">
      <i class="lni lni-chevron-up"></i>
    </a>
    {% block javascript %}
    
    <script>
      //========= Road Map
      tns({
        container: ".road-map-slider",
        items: 1,
        slideBy: "page",
        autoplay: false,
        mouseDrag: true,
        gutter: 0,
        nav: true,
        controls: false,
        responsive: {
          0: {
            items: 2,
          },
          540: {
            items: 3,
          },
          768: {
            items: 4,
          },
          992: {
            items: 4,
          },
          1170: {
            items: 6,
          },
        },
      });
      //========= testimonial
      tns({
        container: ".testimonial-slider",
        items: 3,
        slideBy: "page",
        autoplay: false,
        mouseDrag: true,
        gutter: 0,
        nav: true,
        controls: false,
        responsive: {
          0: {
            items: 1,
          },
          540: {
            items: 1,
          },
          768: {
            items: 2,
          },
          992: {
            items: 2,
          },
          1170: {
            items: 3,
          },
        },
      });
      //====== counter up
      var cu = new counterUp({
        start: 0,
        duration: 2000,
        intvalues: true,
        interval: 100,
        append: " ",
      });
      cu.start();
      //========= glightbox
      GLightbox({
        href: "https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM",
        type: "video",
        source: "youtube", //vimeo, youtube or local
        width: 900,
        autoplayVideos: true,
      });
    </script>
    <script>
      var xValues = [
        'Cloud Mining',
        'Cloud Mining',
        'Master Nodes',
        'Master Nodes',
        'Smart Staking',
        'Smart Staking'
        ];
      var yValues = [60.3,67.2,88.3,107.8,18.8,24.5];
      var barColors = 'blue'
      new Chart("chart2019", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "Year 2019",
          }
        }
    });
    var xValues = [
        'Cloud Mining',
        'Cloud Mining',
        'Master Nodes',
        'Master Nodes',
        'Smart Staking',
        'Smart Staking'
        ];
      var yValues = [60.9,69.5,84.2,111.5,18.4,24.3];
      var barColors = 'blue'
      new Chart("chart2020", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          
          title: {
            display: true,
            text: "Year 2020"
          }
        }
    });
    var xValues = [
        'Cloud Mining',
        'Cloud Mining',
        'Master Nodes',
        'Master Nodes',
        'Smart Staking',
        'Smart Staking'
        ];
      var yValues = [60.1,67,88.7,115.9,18.9,22.9];
      var barColors = 'blue'
      new Chart("chart2021", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          responsive: true,

          title: {
            display: true,
            text: "Year 2021"
          }
        }
    });
    var xValues = [
        'Cloud Mining',
        'Cloud Mining',
        'Master Nodes',
        'Master Nodes',
        'Smart Staking',
        'Smart Staking'
        ];
      var yValues = [40.1,39.7,45.4,73.1,8.9,12.1];
      var barColors = 'blue'
      new Chart("chart2022", {
        type: "bar",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          responsive: true,

          title: {
            display: true,
            text: "Year 2022"
          }
        }
      });
    </script>
  {% endblock %}
    