{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-area">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12 col-12">
        <div class="hero-content">
          <!-- <h4 class="wow fadeInUp" data-wow-delay=".2s">
                Start Envesting & Earn Money
              </h4> -->
          <h1 class="wow fadeInUp" data-wow-delay=".4s">
            The Easy Way <br />To Invest in
            <span>
              <img class="text-shape" src="{% static 'items/kratos/assets/images/hero/text-shape.svg' %}" alt="#" />
              Blockchain.
            </span>
          </h1>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            Our platform allows you to take a <br />
            measured approach to crypto investing.
          </p>
          <div class="button wow fadeInUp" data-wow-delay=".8s">
            <a href="" class="btn">Start</a>
          </div>
        </div>

      </div>
      <div class="col-lg-7 col-12">
        <div class="hero-image wow fadeInUp" data-wow-delay=".4s">
          <img class="main-image" src="{% static 'items/kratos/assets/images/back-orig.png' %}" alt="#">

        </div>
      </div>
    </div>
  </div>
</section>
<section class="start-process section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">
            Ready to get started?
          </h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">
            3 Steps To Start
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="single-process">
          <span class="serial">01</span>
          <h3>Open an account</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="single-process">
          <span class="serial">02</span>
          <h3>Make a Deposit to your balance </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="single-process">
          <span class="serial">03</span>
          <h3>Select one of the recommended Plans</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="single-process">
          <span class="serial">04</span>
          <h3>Hold & Earn</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="intro-video-area section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="inner-content-head">
          <div class="inner-content">
            <img class="shape1" src="{% static 'items/kratos/assets/images/video/shape1.svg' %}" alt="#" />
            <img class="shape2" src="{% static 'items/kratos/assets/images/video/shape2.svg' %}" alt=" #" />
            <div class="section-title">
              <!-- <span class="wow zoomIn" data-wow-delay=".2s"
                    >Create your own experience</span
                  > -->
              <h2 class="wow fadeInUp" data-wow-delay=".4s">
                Watch Our intro video
              </h2>
              <p class="wow fadeInUp" data-wow-delay=".6s">
                There are many variations of passages of Lorem Ipsum
                available, but the majority have suffered alteration in some
                form.
              </p>
            </div>
            <div class="intro-video-play">
              <div class="play-thumb wow zoomIn" data-wow-delay=".2s">
                <a href="https://www.youtube.com/watch?v=r44RKWyfcFw" class="glightbox video"><i
                    class="lni lni-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="statistics section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Statistics</h2>
        </div>
        <div class="grid-container">
          <div class="grid-item">
            <canvas id="chart2019" class="canvas-item"></canvas>
          </div>
          <div class="grid-item">
            <canvas id="chart2020" class="canvas-item"></canvas>
          </div>
          <div class="grid-item">
            <canvas id="chart2021" class="canvas-item""></canvas>
              </div>
              <div class=" grid-item">
              <canvas id="chart2022" class="canvas-item"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="passive section">
  <div class="feature section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h3 class="wow zoomIn" data-wow-delay=".2s">Why choose us</h3>
            <h2 class="wow fadeInUp" data-wow-delay=".4s">Passive crypto income on example.com</h2>
            <!-- <p class="wow fadeInUp" data-wow-delay=".6s">
                  There are many variations of passages of Lorem Ipsum available,
                  but the majority have suffered alteration in some form.
                </p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".2s">
          <div class="feature-box">
            <div class="tumb">
              <img src="{% static 'items/kratos/assets/images/features/feature-icon-1.png' %}" alt="" />
            </div>
            <h4 class="text-title">10,000+ clients</h4>
            <p>
              Operating since 2019

            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".4s">
          <div class="feature-box">
            <div class="tumb">
              <img src="{% static 'items/kratos/assets/images/features/feature-icon-2.png' %}" alt="" />
            </div>
            <h4 class="text-title">Safe & Secure</h4>
            <p>
              Over $250,000,000 in profits
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 wow fadeInUp" data-wow-delay=".6s">
          <div class="feature-box">
            <div class="tumb">
              <img src="{% static 'items/kratos/assets/images/features/feature-icon-3.png' %}" alt="" />
            </div>
            <h4 class="text-title">High APY</h4>
            <p>
              60% Average APY in all our projects
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="team section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Expert Team</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Meet Our Team</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col wow fadeInUp" data-wow-delay=".3s">
        <div class="single-team">
          <div class="team-image">
            <img src="{% static 'items/kratos/assets/images/team/Alexander Briceno.jpg' %}" alt="#" />
          </div>
          <div class="content">
            <h4>
              Alexander Briceno
              <span>Founder</span>
            </h4>
            <ul class="social">
              <li>
                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col wow fadeInUp" data-wow-delay=".5s">
        <div class="single-team">
          <div class="team-image">
            <img src="{% static 'items/kratos/assets/images/team/Kevin Garey.jpg' %}" alt="#" />
          </div>
          <div class="content">
            <h4>
              Kevin Garey
              <span>Co-Founder</span>
            </h4>
            <ul class="social">
              <li>
                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <div class="col wow fadeInUp" data-wow-delay=".5s">
        <div class="single-team">
          <div class="team-image">
            <img src="{% static 'items/kratos/assets/images/team/Benjamin Johnson.jpg' %}" alt="#" />
          </div>
          <div class="content">
            <h4>
              Benjamin Johnson
              <span>Developer</span>
            </h4>
            <ul class="social">
              <li>
                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col wow fadeInUp" data-wow-delay=".7s">
        <div class="single-team">
          <div class="team-image">
            <img src="{% static 'items/kratos/assets/images/team/Gary Flores.jpg' %}" alt="#" />
          </div>
          <div class="content">
            <h4>
              Gary Flores
              <span>Designer</span>
            </h4>
            <ul class="social">
              <li>
                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col wow fadeInUp" data-wow-delay=".7s">
        <div class="single-team">
          <div class="team-image">
            <img src="{% static 'items/kratos/assets/images/team/James Howard.jpg' %}" alt="#" />
          </div>
          <div class="content">
            <h4>
              Gary Flores
              <span>Designer</span>
            </h4>
            <ul class="social">
              <li>
                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
              </li>
              <li>
                <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="promotion">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Promotion</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            Promotions refer to the entire set of activities, which communicate the product, brand or service to the
            user.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class='multiple-items'>
        <div class="item">
          <div class="shadow-effect">
            <img class="img-size" src="{% static 'items/kratos/assets/images/promotion/promo-1.jpg' %}" alt="">
          </div>
        </div>

        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle" src="{% static 'items/kratos/assets/images/promotion/promo-2.jpg' %}" alt="">
          </div>

        </div>

        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle" src="{% static 'items/kratos/assets/images/promotion/promo-3.jpg' %}" alt="">
          </div>
        </div>

        <div class="item">
          <div class="shadow-effect">
            <img class="img-size" src="{% static 'items/kratos/assets/images/promotion/promo-1.jpg' %}" alt="">
          </div>
        </div>

        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle" src="{% static 'items/kratos/assets/images/promotion/promo-2.jpg' %}" alt="">
          </div>

        </div>

        <div class="item">
          <div class="shadow-effect">
            <img class="img-circle" src="{% static 'items/kratos/assets/images/promotion/promo-3.jpg' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


















<div class="row road-map-slider">

</div>
<!-- <section class="road-map section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2 class="wow fadeInUp" data-wow-delay=".4s">Road Map</h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="top-row">
      <div class="">
        <div class="row road-map-slider">
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map down">
              <span class="arrow"></span>
              <h3>
                Apr 10,2018
                <span>Development Started</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map">
              <span class="arrow"></span>
              <h3>
                May 15,2018
                <span>Exchange Bitcontent to Bitcoin</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map down">
              <span class="arrow"></span>
              <h3>
                Jan 05,2018
                <span>BTCC mode of payment</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map">
              <span class="arrow"></span>
              <h3>
                Mar 210,2019
                <span>Send-Receive coin Bitconcent & mobile</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map down">
              <span class="arrow"></span>
              <h3>
                Feb 25,2020
                <span>Coin Marketcap, World Coin Index</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map">
              <span class="arrow"></span>
              <h3>
                Dec 22,2020
                <span>BTCC mode of payment in Bitcoin</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map down">
              <span class="arrow"></span>
              <h3>
                Feb 25,2020
                <span>Coin Marketcap, World Coin Index</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map">
              <span class="arrow"></span>
              <h3>
                Jan 05,2018
                <span>BTCC mode of payment</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map down">
              <span class="arrow"></span>
              <h3>
                May 15,2018
                <span>Exchange Bitcontent to Bitcoin</span>
              </h3>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-12 p-0">
            <div class="single-map">
              <span class="arrow"></span>
              <h3>
                Dec 22,2020
                <span>BTCC mode of payment in Bitcoin</span>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<section class="testimonials style2 section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Customer Reviews</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">
            Our Testimonials
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="row testimonial-slider">
      <div class="col-lg-6 col-12">
        <div class="single-testimonial">
          <div class="inner-content">
            <div class="quote-icon">
              <i class="lni lni-quotation"></i>
            </div>
            <div class="text">
              <p>
                “A vast number of clients decide to create dedicated
                software is the online store. It is nothing but a website
                with a catalog of products and the possibility.”
              </p>
            </div>
            <div class="author">
              <img src="{% static 'items/kratos/assets/images/testimonial/testi-1.png' %}" alt="#" />
              <h4 class="name">
                Somalia D Silva
                <span class="deg">Business Manager</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="single-testimonial">
          <div class="inner-content">
            <div class="quote-icon">
              <i class="lni lni-quotation"></i>
            </div>
            <div class="text">
              <p>
                “A vast number of clients decide to create dedicated
                software is the online store. It is nothing but a website
                with a catalog of products and the possibility.”
              </p>
            </div>
            <div class="author">
              <img src="{% static 'items/kratos/assets/images/testimonial/testi-2.png' %}" alt="#" />
              <h4 class="name">
                David Warner
                <span class="deg">Blockchain Developer</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="single-testimonial">
          <div class="inner-content">
            <div class="quote-icon">
              <i class="lni lni-quotation"></i>
            </div>
            <div class="text">
              <p>
                “A vast number of clients decide to create dedicated
                software is the online store. It is nothing but a website
                with a catalog of products and the possibility.”
              </p>
            </div>
            <div class="author">
              <img src="{% static 'items/kratos/assets/images/testimonial/testi-3.png' %}" alt="#" />
              <h4 class="name">
                Jems Gilario
                <span class="deg">Graphics Designer</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="single-testimonial">
          <div class="inner-content">
            <div class="quote-icon">
              <i class="lni lni-quotation"></i>
            </div>
            <div class="text">
              <p>
                “A vast number of clients decide to create dedicated
                software is the online store. It is nothing but a website
                with a catalog of products and the possibility.”
              </p>
            </div>
            <div class="author">
              <img src="{% static 'items/kratos/assets/images/testimonial/testi-2.png' %}" alt="#" />
              <h4 class="name">
                David Warner
                <span class="deg">Web Developer</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="single-testimonial">
          <div class="inner-content">
            <div class="quote-icon">
              <i class="lni lni-quotation"></i>
            </div>
            <div class="text">
              <p>
                “A vast number of clients decide to create dedicated
                software is the online store. It is nothing but a website
                with a catalog of products and the possibility.”
              </p>
            </div>
            <div class="author">
              <img src="{% static 'items/kratos/assets/images/testimonial/testi-3.png' %}" alt="#" />
              <h4 class="name">
                Jems Gilario
                <span class="deg">Graphics Designer</span>
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h3 class="wow zoomIn" data-wow-delay=".2s">Faq</h3>
          <h2 class="wow fadeInUp" data-wow-delay=".4s">
            frequently asked questions
          </h2>
          <p class="wow fadeInUp" data-wow-delay=".6s">
            There are many variations of passages of Lorem Ipsum available,
            but the majority have suffered alteration in some form.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading1">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                <span class="title">Is example.com safe?</span><i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  example.com is a project started in early 2019, with a Beta-Test program till end of 2019 with over
                  100+ participants. They spent from $5000 to $100,000. Since all our participants receive considerable
                  amounts from the program. And we decided to open the program to the public as well. We are looking for
                  leaders with long-term vision and growth potential in the fields of blockchain technology,
                  applications and crypto finance.
                </p>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading2">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                <span class="title">What does example.com provide?</span><i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Built upon our robust trading system and expertise. Example.com is top investment platform for newbies
                  and professional investors. There are three options to choose from mining, nodes and staking. Put your
                  money to work and wait for it to multiply.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading3">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                <span class="title">What Is Bitcoin Mining?</span><i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <p>
                  Bitcoin mining is the process by which new bitcoins are entered into circulation. It is also the way
                  the network confirms new transactions and is a critical component of the blockchain ledger's
                  maintenance and development. "Mining" is performed using sophisticated hardware that solves an
                  extremely complex computational math problem.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-12 xs-margin">
        <div class="accordion" id="accordionExample2">
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading11">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                <span class="title">What Is Cloud Mining?</span><i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
              data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                <p>
                  Cloud mining is a mechanism to mine a cryptocurrency, such as bitcoin, using rented cloud computing
                  power and without having to install and directly run the hardware and related software. Cloud mining
                  allow people to open an account and remotely participate in the process of cryptocurrency mining,
                  makes mining accessible to a wider number of people across the world. Since this form of mining is
                  done via cloud, it reduces issues such as maintenance of equipment or direct energy costs.
                </p>

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading22">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse22" aria-expanded="false" aria-controls="collapse22">
                <span class="title">How the Cloud Mining works on example.com?</span><i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapse22" class="accordion-collapse collapse" aria-labelledby="heading22"
              data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                <p>
                  Cloud Mining on example.com works differently. We prepare a plan for a long strategy usually a year.
                  See last performance here. You don’t need expensive equipment. You don’t have to care about noises and
                  unit failure. You don’t need to configure a pool. You don’t have to care about bitcoin price changes
                  and electric fees. Join example.com to mine cryptocurrencies without having to manage hardware.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading33">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse33" aria-expanded="false" aria-controls="collapse33">
                <span class="title">What Are Masternodes?</span><i class="lni lni-plus"></i>
              </button>
            </h2>
            <div id="collapse33" class="accordion-collapse collapse" aria-labelledby="heading33"
              data-bs-parent="#accordionExample2">
              <div class="accordion-body">
                <p>
                  Masternodes are nodes that allow their operators to perform advanced functions that are crucial for
                  running a blockchain. Master nodes operate on a collateral-based system, meaning the operators need to
                  own a significant amount of the cryptocurrency. In exchange for their investment in time and money,
                  master node operators are rewarded with guaranteed crypto earnings, usually a percentage of their
                  stake.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



{% endblock %}

<a href="#" class="scroll-top">
  <i class="lni lni-chevron-up"></i>
</a>
{% block javascript %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
  integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'items/kratos/assets/js/slick.js' %}"></script>
<script src="{% static 'items/kratos/assets/js/slick.min.js' %}"></script>
<script>
  //========= Road Map
  tns({
    container: ".road-map-slider",
    items: 1,
    slideBy: "page",
    autoplay: false,
    mouseDrag: true,
    gutter: 0,
    nav: true,
    controls: false,
    responsive: {
      0: {
        items: 2,
      },
      540: {
        items: 3,
      },
      768: {
        items: 4,
      },
      992: {
        items: 4,
      },
      1170: {
        items: 6,
      },
    },
  });
  //========= testimonial
  tns({
    container: ".testimonial-slider",
    items: 3,
    slideBy: "page",
    autoplay: false,
    mouseDrag: true,
    gutter: 0,
    nav: true,
    controls: false,
    responsive: {
      0: {
        items: 1,
      },
      540: {
        items: 1,
      },
      768: {
        items: 2,
      },
      992: {
        items: 2,
      },
      1170: {
        items: 3,
      },
    },
  });
  //====== counter up
  var cu = new counterUp({
    start: 0,
    duration: 2000,
    intvalues: true,
    interval: 100,
    append: " ",
  });
  cu.start();
  //========= glightbox
  GLightbox({
    href: "https://www.youtube.com/watch?v=r44RKWyfcFw&fbclid=IwAR21beSJORalzmzokxDRcGfkZA1AtRTE__l5N4r09HcGS5Y6vOluyouM9EM",
    type: "video",
    source: "youtube", //vimeo, youtube or local
    width: 900,
    autoplayVideos: true,
  });
</script>
<script>
  var xValues = [
    'Cloud Mining',
    'Cloud Mining',
    'Master Nodes',
    'Master Nodes',
    'Smart Staking',
    'Smart Staking'
  ];
  var yValues = [60.3, 67.2, 88.3, 107.8, 18.8, 24.5];
  var barColors = '#1956c7'
  new Chart("chart2019", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      responsive: true,
      title: {
        display: true,
        text: "Year 2019",
      }
    }
  });
  var xValues = [
    'Cloud Mining',
    'Cloud Mining',
    'Master Nodes',
    'Master Nodes',
    'Smart Staking',
    'Smart Staking'
  ];
  var yValues = [60.9, 69.5, 84.2, 111.5, 18.4, 24.3];
  var barColors = '#1956c7'
  new Chart("chart2020", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {

      title: {
        display: true,
        text: "Year 2020"
      }
    }
  });
  var xValues = [
    'Cloud Mining',
    'Cloud Mining',
    'Master Nodes',
    'Master Nodes',
    'Smart Staking',
    'Smart Staking'
  ];
  var yValues = [60.1, 67, 88.7, 115.9, 18.9, 22.9];
  var barColors = '#1956c7'
  new Chart("chart2021", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      responsive: true,

      title: {
        display: true,
        text: "Year 2021"
      }
    }
  });
  var xValues = [
    'Cloud Mining',
    'Cloud Mining',
    'Master Nodes',
    'Master Nodes',
    'Smart Staking',
    'Smart Staking'
  ];
  var yValues = [40.1, 39.7, 45.4, 73.1, 8.9, 12.1];
  var barColors = '#1956c7'
  new Chart("chart2022", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      responsive: true,

      title: {
        display: true,
        text: "Year 2022"
      }
    }
  });
</script>
<script>
  $('.multiple-items').slick({
    infinite: true,
    slidesToShow: 3,
    slidesToScroll: 3,
    prevArrow: '<button type="button" data-role="none" class="slick-prev">Previous</button>',
    nextArrow: '<button type="button" data-role="none" class="slick-next">Next</button>',
    autoplay: false,
    autoplaySpeed: 3000,

  });

</script>
{% endblock %}