{% load static %}

<footer class="footer section">

    <div class="footer-top">
      <div class="container">
        <div class="inner-content">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
              <div class="single-footer f-about">
                <div class="logo">
                  <a href="index.html">
                    <img src="{% static 'items/kratos/assets/images/svg/2.svg' %}" alt="#" />
                  </a>
                </div>
                <p>
                  Making the world a better place through constructing elegant
                  hierarchies.
                </p>
                <h4 class="social-title">Follow Us On:</h4>
                <ul class="social">
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-pinterest"></i></a>
                  </li>
                  <li>
                    <a href="javascript:void(0)"><i class="lni lni-youtube"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
              <div class="single-footer f-link">
                <h3>Solutions</h3>
                <ul>
                  <li><a href="javascript:void(0)">Marketing</a></li>
                  <li><a href="javascript:void(0)">Analytics</a></li>
                  <li><a href="javascript:void(0)">Risk</a></li>
                  <li><a href="javascript:void(0)">Profit</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 col-12">
              <div class="single-footer f-link">
                <h3>Support</h3>
                <ul>
                  <li><a href="javascript:void(0)">Terms and Privacy</a></li>
                  <li><a href="javascript:void(0)">Help</a></li>
                  <li><a href="javascript:void(0)">Guides</a></li>
                  <li><a href="javascript:void(0)">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="single-footer newsletter">
                <h3>Crypto Live Price</h3>
                <ul>
                  <li>
                    <p>BTC-USDT - <b>20,238.90</b></p>
                  </li>
                  <li>
                    <p>ETH-USDT - <b>1,573.16</b></p>
                  </li>
                  <li>
                    <p>SOL-USDT - <b>32.16</b></p>
                  </li>
                  <li>
                    <p>BNB-USDT - <b>282.42</b></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="inner-content">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
              <p class="copyright-text">
                © 2023 Kratos - All Rights Reserved
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <p class="copyright-owner">
                Designed and Developed by Chaos Team</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>